@using ScanGuard.Domain.Entity
@model CorporationEntity

@{
    ViewBag.Title = "My Corporation";
}

@if (Model != null)
{
    <h1>
        @(Model.CorpName ?? "You don't have a corporation")    <p>Don't have a corporation? <a asp-controller="Corporation" asp-action="AddCorp">Create it!</a></p>
    </h1>
    <h1>@(Model.AdminUser != null ? Model.AdminUser.FullName : "No Admin Assigned")</h1>
}
else
{
    <p>Don't have a corporation? <a asp-controller="Corporation" asp-action="AddCorp">Create it!</a></p>
}