@model ApplicationUser

<p>@Model.FullName</p>
<p>@Model.Email</p>
<img src="~/@Model.ProfilePhotoPath" alt="Product Image" class="img-thumbnail" />

<form asp-action="UploadProfilePhoto" method="post" enctype="multipart/form-data">
    <input type="file" name="profilePhoto" accept="image/*" />
    <button type="submit">Upload Photo</button>
</form>

