@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = null; /* Сохраняем Layout = null, если страница должна быть самостоятельной */
}

<h1>@ViewData["Title"]</h1>

<div class="confirm-container">
    <div class="form-container">
        <h2 class="title">Confirm Email</h2>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <div class="slogan">Please confirm your email to activate your account.</div>
    </div>
</div>