@using MGOBankApp.Domain.Roles
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ScanGuard</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <style type="text/css">
        
.hoverable{
  display:inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position:relative;
  box-shadow: 0 0 1px rgba(0,0,0,0);
  tranform: translateZ(0);
  transition-duration: .3s;
  transition-property:transform;
}
.container-fluid{
  background-color:black;
  height:50px;
}
.hoverable:before{
  position:absolute;
  pointer-events: none;
  z-index:-1;
  content: '';
  top: 100%;
  left: 5%;
  height:10px;
  width:90%;
  opacity:0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus{
  transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
  opacity: 1;
  transform: translateY(-5px);
}



@@keyframes bounce-animation {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}



/*everything below here is just setting up the page, so dont worry about it */


@@media (min-width: 768px) {
  .navbar{
    text-align: center !important;
    float: none;
    display: inline-block;
  }
}


nav {
  
  background: none !important;
  text-transform:uppercase;
  li {
    margin-left: 3em;
    margin-right: 3em;
    a{
      transition: .5s color ease-in-out;
    }
  }
}

.page-title {
  opacity: .75 !important;
}

</style>
</head>
<body>
@*     <div class="bg-effect"></div>
    <div class="cyber-grid"></div>
    <header>
        <nav class="navbar">
            <a href="/" class="nav-logo">
                <span>S</span><span>c</span><span>a</span><span>n</span><span>G</span><span>u</span><span>a</span><span>r</span><span>d</span>
            </a>
            <ul class="nav-links">
                <li><a href="/">Main</a></li>
                <li><a asp-action="AboutUs" asp-controller="Home">About Us</a></li>
                <li><a asp-action="Scanner" asp-controller="Scan">Scanner</a></li>
                <li><a asp-action="ShowScannedSites" asp-controller="User">Scanned Sites</a></li>
                <li><a asp-action="Index" asp-controller="Chat">Chat</a></li>
            </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                var currentUser = await UserManager.GetUserAsync(User);
                var isAdmin = await UserManager.IsInRoleAsync(currentUser, SD.Role_Admin);
                var isPremium = await UserManager.IsInRoleAsync(currentUser, SD.Role_Premium);
                var isCustomer = await UserManager.IsInRoleAsync(currentUser, SD.Role_Customer);

                <ul class="nav-links">
                    <li><a asp-controller="User" asp-action="UserProfile">User Profile</a></li>
                </ul>

                if (isAdmin)
                {
                    <ul class="nav-links">
                        <li><a href="/Admin/index">Users</a></li>
                    </ul>
                    <ul class="nav-links">
                        <li><a asp-action="GetToken" asp-controller="Premium">Get Token</a></li>
                    </ul> 
                    <ul class="nav-links">
                        <li><a asp-action="AllNews" asp-controller="Admin">All News</a></li>
                    </ul>

                }
                if (isPremium)
                {
                    <ul class="nav-links">
                        <li><a asp-action="Index" asp-controller="Premium">Scan File</a></li>
                    </ul>
                    <ul class="nav-links">
                        <li><a asp-action="GetToken" asp-controller="Premium">Get Token</a></li>
                    </ul>
                    <ul class="nav-links">
                        <li><a asp-action="GetAllNews" asp-controller="Premium">NEWS</a></li>
                    </ul>
                }
                if (isCustomer)
                {
                    <ul class="nav-links">
                        <li><a asp-action="Index" asp-controller="FileScan">Scan File</a></li>
                    </ul>
                    <ul class="nav-links">
                        <li><a asp-action="History" asp-controller="FileScan">History</a></li>
                    </ul>
                }
            }

            <partial name="_LoginPartial.cshtml" />
        </nav>
    </header> *@
    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a id="len1" class="hoverable" href="#">Home</a></li>
                    <li><a id="len2" class="hoverable" href="#">About</a></li>
                    <li><a id="len3" class="hoverable" href="#">Portfolio</a></li>
                    <li><a id="len4" class="hoverable" href="#">Contact</a></li>
                    <li><a id="len5" class="hoverable" href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <main class="container">
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false) <!-- Добавляем секцию Scripts -->
    <script src="~/js/scripts.js" asp-append-version="true"></script>
</body>
</html>