@model List<NotificationEntity>

<p>SHOW NOTIFICATIONS</p>

@foreach (var notification in Model)
{
    <div>
        <p>@notification.NotificationTitle</p>
        <p>@notification.NotificationContent</p>
        <p>@notification.SentDateTime</p>
    </div>
}