@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = null; /* Сохраняем Layout = null, если страница должна быть самостоятельной */
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to confirm your account.
</p>

@if (Model.DisplayConfirmAccountLink)
{
    <div class="confirm-container">
        <div class="form-container">
            <h2 class="title">Register Confirmation</h2>
            <div class="description">
                <span class="txt1" style="font-weight: bold;">
                    Thank you for registering with us!
                </span><br>
                <span class="txt1">We are excited to have you join us in ScanGuard community. Please confirm your registration to continue.</span>
            </div>
            <a href="@Model.EmailConfirmationUrl" id="confirmation" class="btn-custom">Confirm</a>
            <div class="slogan">Your first line of defense in the digital world</div>
        </div>
    </div>
}
else
{
    <div class="confirm-container">
        <div class="form-container">
            <h2 class="title">Register Confirmation</h2>
            <p class="description">Please check your email to confirm your account.</p>
        </div>
    </div>
}