@{
    ViewData["Title"] = "Главная";
}

<div class="description">Check the websites you visit for security</div>
<div class="title-wrapper">
    <h1 class="title">
        <span>S</span><span>c</span><span>a</span><span>n</span><span>G</span><span>u</span><span>a</span><span>r</span><span>d</span>
    </h1>
</div>
<form asp-action="FwdScanner" asp-controller="Home">
    <button class="btn-custom" >Try It Now</button>
</form>
<div class="slogan">Your first line of defense in the digital world</div>
