@using MGOBankApp.Domain.Roles
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ScanGuard</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <div class="bg-effect"></div>
    <div class="cyber-grid"></div>
    <header>
        <nav class="navbar">
            <a href="/" class="nav-logo">
                <span>S</span><span>c</span><span>a</span><span>n</span><span>G</span><span>u</span><span>a</span><span>r</span><span>d</span>
            </a>
            <ul class="nav-links">
                <li><a href="/">Main</a></li>
                <li><a asp-action="AboutUs" asp-controller="Home">About Us</a></li>
                <li><a asp-action="Scanner" asp-controller="Scan">Scanner</a></li>
                <li><a asp-action="ShowScannedSites" asp-controller="User">Scanned Sites</a></li>
            </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                var currentUser = await UserManager.GetUserAsync(User);
                var isAdmin = await UserManager.IsInRoleAsync(currentUser, SD.Role_Admin);
                var isPremium = await UserManager.IsInRoleAsync(currentUser, SD.Role_Premium);
                var isCustomer = await UserManager.IsInRoleAsync(currentUser, SD.Role_Customer);


                if (isAdmin)
                {
                    <ul class="nav-links">
                        <li><a href="/Admin/index">Users</a></li>
                    </ul>
                }
                if (isPremium)
                {
                    <ul class="nav-links">
                        <li><a asp-action="Index" asp-controller="Premium">Scan File</a></li>
                    </ul>
                    <ul class="nav-links">
                        <li><a asp-action="GetToken" asp-controller="Premium">Get Token</a></li>
                    </ul>
                }
                if (isCustomer)
                {
                    <ul class="nav-links">
                        <li><a asp-action="Index" asp-controller="FileScan">Scan File</a></li>
                    </ul>
                    <ul class="nav-links">
                        <li><a asp-action="History" asp-controller="FileScan">History</a></li>
                    </ul>
                }
            }

            <partial name="_LoginPartial.cshtml" />
        </nav>
    </header>
    <main class="container">
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false) <!-- Добавляем секцию Scripts -->
    <script src="~/js/scripts.js" asp-append-version="true"></script>
</body>
</html>